.remote
  = form_for(@user, url: change_password_user_path(@user), html: one_submit_only, remote: true) do |f|
    = link_to_close password_user_path(@user)

    = f.error_messages object_name: t('password')

    .section
      %table
        %tr
          %td
            .label.req.top #{t :current_password}:
            = password_field_tag :current_password, nil
          %td{ colspan: 2 }= spacer
        %tr
          %td
            .label.req #{t :new_password}:
            = f.password_field :password ,{:class => "passval"}
          %td= spacer
          %td
            .label.req #{t :password_confirmation}:
            = f.password_field :password_confirmation ,{:class => "confirmpass"}
            %h4{:class => "same"} Password Matched  
            %h4{:class => "notsame"} Password Not Match

    .buttonbar
      = f.submit t(:change_password)
      #{t :or}
      = link_to_cancel password_user_path(@user)
%br

:javascript
  $(document).ready(function(){
        $(".same").hide();
        $(".notsame").hide();
        $(".confirmpass").keyup(function(){
           if($(".passval").val() == $(".confirmpass").val()){
             $(".same").show().css("color" , "green");
             $(".notsame").hide();
           }else{
            $(".same").hide();
             $(".notsame").show().css("color" , "red");
           }
        })
  })